In [24]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import pickle

In [12]:
# Import data
mri= pd.read_csv("oasis_longitudinal.csv")

In [13]:
# Data Cleaning
Pre_Cleaned = pd.DataFrame(mri)
Pre_Cleaned['SES'].fillna(2,inplace = True)
Pre_Cleaned['MMSE'].fillna(30,inplace = True)
Pre_Cleaned = Pre_Cleaned.drop(Pre_Cleaned[Pre_Cleaned['Group'] == 'Converted'].index)
Pre_Cleaned = Pre_Cleaned.drop('Hand', axis = 1)
print(Pre_Cleaned.isnull().any())

Subject ID    False
MRI ID        False
Group         False
Visit         False
MR Delay      False
M/F           False
Age           False
EDUC          False
SES           False
MMSE          False
CDR           False
eTIV          False
nWBV          False
ASF           False
dtype: bool

In [14]:
# Transfer character to numeric
class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns

    def fit(self,X,y=None):
        return self

    def transform(self,X):
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

Pre_Cleaned[['Group','M/F']] = Pre_Cleaned[['Group','M/F']].apply(LabelEncoder().fit_transform)

In [15]:
# Sampling into testing and training dataset
Pre_Cleaned_1 = Pre_Cleaned.drop('Subject ID', axis = 1)
dataset_Cleaned = Pre_Cleaned_1.drop('MRI ID', axis = 1)
X = dataset_Cleaned.drop('Group', axis = 1)
y = dataset_Cleaned['Group']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

In [16]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68 entries, 362 to 39
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Visit     68 non-null     int64
 1   MR Delay  68 non-null     int64
 2   M/F       68 non-null     int32
 3   Age       68 non-null     int64
 4   EDUC      68 non-null     int64
 5   SES       68 non-null     float64
 6   MMSE      68 non-null     float64
 7   CDR       68 non-null     float64
 8   eTIV      68 non-null     int64
 9   nWBV      68 non-null     float64
 10  ASF       68 non-null     float64
dtypes: float64(5), int32(1), int64(5)
memory usage: 6.1 KB

In [17]:
# Model Development
# Random Forest model
random_forest_model = RandomForestClassifier()
random_forest_model.fit(X_train,y_train)
print(random_forest_model.score(X_train,y_train),random_forest_model.score(X_test,y_test))

1.0 1.0

In [18]:
# Model Development
# Random Forest model
random_forest_model = RandomForestClassifier()
random_forest_model.fit(X_train,y_train)
print(random_forest_model.score(X_train,y_train),random_forest_model.score(X_test,y_test))

1.0 1.0

In [20]:
X_test

     Visit  MR Delay  M/F  Age  EDUC  SES  MMSE  CDR  eTIV   nWBV    ASF
362      2       182    0   66    13  2.0  30.0  0.0  1506  0.740  1.165
229      1         0    1   81    11  4.0  28.0  0.0  1750  0.670  1.003
54       2      1099    0   80    12  4.0  30.0  0.0  1390  0.735  1.263
369      3      2297    1   86    16  1.0  26.0  0.5  1688  0.675  1.040
256      1         0    1   70    16  3.0  29.0  0.5  1463  0.749  1.200
..     ...       ...  ...  ...   ...  ...   ...  ...   ...    ...    ...
51       1         0    1   64    18  2.0  22.0  0.5  1547  0.737  1.134
344      2       700    1   72    16  4.0  28.0  0.5  1796  0.732  0.977
134      1         0    0   80    12  2.0  30.0  0.5  1430  0.737  1.228
143      3      1438    1   71    12  4.0  29.0  0.0  1455  0.724  1.206
39       1         0    1   72    20  1.0  26.0  0.5  1911  0.719  0.919

[68 rows x 11 columns]

In [21]:
random_forest_model.predict(X_test)

array([1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       1, 0])

In [29]:
# for a single input
test_input = np.array([2,182,0,66,13,2.0,30.0,0.0,1506,0.740,1.165])
print(test_input)
random_forest_model.predict(test_input.reshape(1, -1))

[2.000e+00 1.820e+02 0.000e+00 6.600e+01 1.300e+01 2.000e+00 3.000e+01
 0.000e+00 1.506e+03 7.400e-01 1.165e+00]

array([1])

In [ ]:
with open('trained_model-0.1.0.pkl','wb') as f:
    pickle.dump(random_forest_model, f)